name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set lowercase repo
        run: |
          echo "IMAGE_REPO=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: |
          docker build . \
            -t ghcr.io/${IMAGE_REPO}/3x-ui:latest

      - name: Push image
        run: |
          docker push ghcr.io/${IMAGE_REPO}/3x-ui:latest
